{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}
<style>
h1 { color: black; font-family: 'Raleway',sans-serif; font-size: 30px; font-weight: 800; line-height: 72px; margin: 0 0 24px; text-align: center; text-transform: uppercase; }
</style>
<div class = "page-header">
    <h1><mark>Purchase History</mark></h1>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Symbol</th>
      <th scope="col">Shares</th>
      <th scope="col">Transacted</th>
    </tr>
  </thead>
  <tbody>
    {% for value in portfolio %}
    <tr>
      <th scope="row">{{value[1]}}</th>
      <td>{{value[2]}}</td>
      <td>{{value[3]}}</td>
    </tr>

    {% endfor %}

  </tbody>
</table>




{% endblock %}


