{% extends "layout.html" %}

{% block title %}
    Register
{% endblock %}

{% block main %}
<!--method ="form" : 서버로 데이터 전송 시킬 때 -->
    <form action="/register" method="POST">
        <input id="username" name="username" type="text" placeholder="Username">
        <input id="hash" name="hash" type="password" placeholder="Password">
        <input id="submit" type="submit" disabled>
    </form>
    <script>
        document.querySelector("#username").onkeyup = function() {
            if (document.querySelector("#username").value === '') {
                document.querySelector("#submit").disabled = true;
            } else {
                document.querySelector("#submit").disabled = false;
            }
        }
    </script>

{% endblock %}