{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Add to Listings</h2>
    {% if message %}
    <b>{{ message }}</b>
    {% endif %}
    
    <form action="{% url 'add' %}" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit">
    </form>

    {% comment %} <form action="{% url 'add' %}" method = "post">
        {% csrf_token %}
        {{ form }}
        <input type = "submit">
    </form> {% endcomment %}
    
{% endblock %}