{% extends "auctions/layout.html" %}

{% block body %}
    <h2>{{ content.name }}</h2>
    <li><b>Listed by</b> : {{ content.author }} </li>
    <li><b>Price</b> : {{ content.price }}</li>
    <li><b>added on</b> {{ content.date }}</li>
    <li><b>Category</b> {{ content.category }}</li>
    {% if content.image %}
        <img src="{{ content.image.url }}" width="300" height="300">
    {% endif %}
    <li><b>{{ content.likes }}</b> are(is) <b>watching</b> this.</li>
    <div class="delete">
        <p><a href="{% url 'delete' content.list_id %}">삭제</a></p>  
    </div>

    <br>
    <!-- 좋아요 -->
    <a href="{% url 'like' content.list_id %}">
        {% if content in profile.watchlist.all %}
            Unfavorite
        {% else %}
            favorite
        {% endif %}
    </a>
    <br>

    <!-- Bidding -->
    <hr>
    <h3> Bidding </h3>
    <h4>$ {{ maxi }}</h4>
    {{ numbids }} bids(s) so far.
    {% if curBid %}
        Your bid is the current bid.
    {% else %}
        :)
    {% endif %}

    
    <form action="{% url 'bidding' content.list_id %}" method="POST" class="post-form">
        {% csrf_token %}
        {{ bidform }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    <hr>


    <!-- 댓글에 url 설정 안해서 욕봤다 .....  -->
    <h3> Comment </h3>
    <b>New comment</b>
    <form action="{% url 'comment' content.list_id %}" method="POST" class="post-form">
        {% csrf_token %}
        {{ form }}
        <button type="submit" class="save btn btn-default">Send</button>
    </form>
    <hr>
    {% for comment in comments %}
        <div class="comment">
            <div class="date">{{ comment.created_date }}</div>
            <strong>{{ comment.author }}</strong>
            <p>{{ comment.text|linebreaks }}</p>
        </div>
    {% empty %}
        <p>No comments here yet :(</p>
    {% endfor %}

    <hr>
    <a href="{% url 'index' %}">Back to Full List</a>
{% endblock %}